:root {
  --blue: #162084;
  --white: #fff;
  --light-grey: #f0f0f0;
  --grey: #798194;

  /* realm-ui colors */
  --app-background: var(--white);
  --background: var(--white);
  --foreground: var(--grey);
  --primary: var(--blue);
  --primary-foreground: var(--white);
  --secondary: var(--light-grey);
  --secondary-foreground: var(--blue);
  --error: #fff0f0;
  --error-foreground: #c40000ab;
  --input-background: var(--light-grey);
  --input-foreground: var(--grey);
  --roundness: 1.5rem;
  --button-padding-inline: 1.9rem;
}
