:host {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;

  @media (min-width: 768px) {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100px;
      pointer-events: none;
      z-index: 1;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, white, transparent);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, white, transparent);
    }
  }
}

.sectors {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  position: relative;

  @media (min-width: 768px) {
    height: 60px;
  }
}

.sector {
  white-space: nowrap;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-right: 5.5rem;
  color: var(--blue);

  @media (max-width: 768px) {
    margin-right: 4rem;
  }
}
