:host {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  display: flex;
  position: relative;
  user-select: none;

  @media (min-width: 768px) {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100px;
      pointer-events: none;
      z-index: 1;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, white, transparent);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, white, transparent);
    }
  }

  .sectors {
    display: flex;
    align-items: center;
    position: relative;
    gap: 6rem;
    animation: slide-left 60s linear infinite;
    width: max-content;
  }

  .sectors h2 {
    white-space: nowrap;
  }

  .sectors::after {
    content: attr(data-content);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
