:host {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  display: flex;
  position: relative;
  user-select: none;

  @media (min-width: 768px) {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100px;
      pointer-events: none;
      z-index: 1;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, white, transparent);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, white, transparent);
    }
  }

  .sectors {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    h2 {
      margin-right: 5.5rem;
      white-space: nowrap;

      @media (max-width: 768px) {
        margin-right: 4rem;
      }
    }
  }
}
