:host {
  .slider {
    max-width: 1200px;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;

    @media (width > 768px) {
      width: calc(100vw - 1rem);
    }

    r-button {
      position: absolute;
      top: 20%;
      z-index: 1;
      width: 2.8rem;
      --button-padding-inline: 0;

      @media (width < 768px) {
        display: none;
      }

      &.left {
        left: 2rem;
        z-index: 10;
      }

      &.right {
        right: 2rem;
        z-index: 10;
      }

      .icon-chevron-left,
      .icon-chevron-right {
        font-size: 1.5rem;
        color: var(--white);
      }
    }

    @media (width > 768px) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 1) 0%,
          transparent 100%
        );
        z-index: 2;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 1) 0%,
          transparent 100%
        );
        z-index: 2;
      }
    }

    swiper-container {
      user-select: none;
      display: flex;
      flex-direction: column;
      width: 1800px;
      max-width: calc(224vw);
      margin-inline: auto;

      .experience {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: center;
        gap: 20px;
        box-sizing: border-box;
        max-width: 80vw;

        .content {
          color: #798194;
        }

        .bottom {
          display: flex;
          flex-direction: column;
          width: 100%;

          .author,
          .position,
          .location {
            width: 100%;
            text-align: left;
          }

          .author {
            color: var(--blue);
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
          }

          .position,
          .location {
            color: #798194;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
