.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  perspective: 1000px;
  opacity: 0;

  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 225px;

    .carousel-box {
      position: absolute;
      width: 350px;
      padding: 25px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 1px solid #f0f0f0;
      background-color: #fcfcfc;
      border-radius: 15px;
      backface-visibility: hidden;
      gap: 10px;

      &.center {
        z-index: 10;
      }

      &.left,
      &.right {
        z-index: 5;
      }

      &.invisible {
        z-index: 0;
      }

      .content {
        color: #798194;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;

        .author,
        .position,
        .location {
          width: 100%;
          text-align: left;
        }

        .author {
          color: var(--blue);
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
        }

        .position,
        .location {
          color: #798194;
          font-size: 0.9rem;
        }
      }
    }
  }

  .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    left: 50%;
    padding-inline: 20px;
    box-sizing: border-box;

    .prev-button,
    .next-button {
      background-color: var(--blue);
      border: none;
      height: 40px;
      width: 40px;
      cursor: pointer;
      z-index: 20;
      color: white;
      border-radius: 100%;
      transition: 0.1s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:active {
        scale: 0.9;
        transition: 0.1s;
      }

      &.prev-button {
        left: 10px;
      }

      &.next-button {
        right: 10px;
      }

      i {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel-container {
    .carousel-wrapper {
      height: 250px;

      .carousel-box {
        max-width: calc(100vw - 121px);
      }
    }

    .arrows {
      display: none;
    }
  }
}
