@defer (when data()) {
  <h1 class="center">
    {{ data()!.title }}
  </h1>
  <div class="slider">
    <r-button
      ariaLabel="Scroll backward"
      title="Scroll backward"
      class="left"
      (clickEmitter)="slidePrev()"
      type="primary">
      <div class="icon-chevron-left"></div>
    </r-button>
    <swiper-container
      #swiper
      loop="true"
      slides-per-view="3"
      speed="500"
      grab-cursor="true"
      space-between="30">
      @for (
        experience of data()!.experiences;
        track experience.author + $index
      ) {
        <swiper-slide class="experience">
          <div class="content" [innerHTML]="experience.content"></div>
          <div class="bottom">
            <div class="author">
              {{ experience.author }}
            </div>
            <div class="position">
              {{ experience.position }}
            </div>
            <div class="location">
              {{ experience.location }}
            </div>
          </div>
        </swiper-slide>
      }
    </swiper-container>
    <r-button
      class="right"
      type="primary"
      ariaLabel="Scroll forward"
      (clickEmitter)="slideNext()"
      title="Scroll forward">
      <div class="icon-chevron-right"></div>
    </r-button>
  </div>
}
