:host {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  min-height: 100dvh;
  height: 100%;
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  gap: 0.5rem;

  .top-controls {
    display: flex;
    justify-content: space-between;
  }

  @media (width < 768px) {
    padding: 3rem 2rem 1rem 2rem;

    .top-controls {
      gap: 1rem;

      r-button {
        flex: 1;
      }
    }
  }
}
