<h3 class="center">Este sitio web utiliza cookies</h3>
<p>
  Usamos cookies de Google Analytics para analizar el tráfico y mejorar la
  experiencia del usuario. Esto nos ayuda a entender cómo interactúan con el
  sitio y cómo podemos optimizar el contenido.
</p>
<p>
  Para obtener información detallada, consulta nuestra
  <a [routerLink]="'/cookies'">Política de cookies</a>. En cualquier momento,
  podrás modificar tu consentimiento.
</p>
<div class="consent-buttons">
  <r-button type="secondary" (click)="rejectCookies()">Rechazar</r-button>
  <r-button type="primary" (click)="acceptCookies()">Aceptar</r-button>
</div>
