:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;

  @media (width > 768px) {
    max-width: 350px;
  }

  p {
    text-align: center;
  }

  .consent-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    r-button {
      flex: 1;
    }

    @media (width < 768px) {
      flex-direction: column;
    }
  }
}
