<h3 class="center">Este sitio web utiliza cookies</h3>
<p>
  Usamos cookies de Google Analytics para analizar el tráfico y mejorar la
  experiencia del usuario. Estas cookies nos permiten entender cómo interactúan
  los usuarios con el sitio, qué páginas visitan y cómo podemos mejorar el
  contenido.
</p>
<p>
  Para más información, consulta nuestra
  <a [routerLink]="'/cookies'" target="_blank">Política de cookies</a> y nuestra
  <a [routerLink]="'/privacy-policy'" target="_blank">Política de privacidad</a
  >.
</p>
<div class="consent-buttons">
  <r-button type="secondary" (click)="rejectCookies()">Rechazar</r-button>
  <r-button type="primary" (click)="acceptCookies()">Aceptar</r-button>
</div>
