<header>
  <div class="content">
    <img class="logo" src="/svg/logo-negative.svg" [routerLink]="'/'" alt="" />
    <div class="right">
      <a
        href="www.google.com"
        [@moveToTheLeftTrigger]="
          isScrolled() && !isOffersPage() && !isMobile()
        ">
        <r-button type="primary" @fadeInOut>Contáctanos</r-button>
      </a>
      @if (isScrolled() && !isOffersPage() && !isMobile()) {
        <r-button type="secondary" [routerLink]="'/offers'" @fadeInOut
          >Ofertas</r-button
        >
      }
    </div>
  </div>
  <div class="rounded-section"></div>
</header>
