:host {
  user-select: none;

  header {
    background-color: var(--blue);
    padding-top: 82.44px;
    box-sizing: border-box;
    color: white;

    .top-wrapper {
      width: 100vw;
      background-color: var(--blue);
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;

      .content {
        display: flex;
        width: 100%;
        max-width: 1400px;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px 0 40px;
        box-sizing: border-box;

        .logo {
          width: 100px;
          height: 42.45px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .bottom-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 40px 40px 40px;
      box-sizing: border-box;
      max-width: 1400px;
      margin-inline: auto;
      gap: 20px;

      .slogan {
        font-family: 'Poppins', sans-serif;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        z-index: 11;
      }

      ac-cta {
        z-index: 11;
      }
    }
  }

  @media (max-width: 768px) {
    header {
      .top-wrapper {
        gap: 50px;

        .content {
          padding: 20px 20px 0 20px;

          .logo {
            width: 80px;
            height: 34px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .bottom-wrapper {
        .slogan {
          font-size: 26px;
        }
      }
    }
  }
}
