:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  img {
    width: 200px;
  }

  p {
    color: white;
    font-family: 'Poppins', sans-serif;
  }
}
