<ac-header />
<router-outlet />
@defer (on timer(500ms)) {
  @if (isMobile() && isHomePage() && !isOffersCtaVisible()) {
    <ac-offers-button @fadeInOut />
  }
}
<ac-footer />
<!-- Contact us modal -->
<r-dialog [(show)]="contactUsModalService.isOpen">
  <ac-contact-us-modal *r-lazy [(show)]="contactUsModalService.isOpen" />
</r-dialog>
<!-- Cookies modal -->
@if (!isLinkPage() && !isConsentAnswered()) {
  @defer (on timer(500ms)) {
    <r-dialog
      [(show)]="isCookiesModalOpen"
      [mobileBottomActive]="true"
      [clickOutside]="false">
      <ac-cookies-modal *r-lazy [(show)]="isCookiesModalOpen" />
    </r-dialog>
  }
}
