:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 80vw;
  max-width: 350px;
  padding: 1rem;
  box-sizing: border-box;
  max-height: calc(100dvh - 100px);
  overflow-y: auto;
  scrollbar-width: thin;

  > * {
    width: 100%;
  }

  r-textarea {
    height: 70px;
    min-height: 70px;
  }

  p {
    margin: 0;
    text-align: center;
  }
}
