@if (!applied() && requestForm()) {
  <h3>Contáctanos</h3>
  <!--   @if (selectedRequestType() === RequestType.Business) {
    @switch (requestForm().get('reason')?.value) {
      @case (BusinessRequestReason.Information) {
        <p>
          Si deseas contactarnos, completa los campos y haz clic en “Enviar”.
        </p>
      }
      @case (BusinessRequestReason.Selection) {
        <p>
          Si deseas contactarnos, completa los campos, adjunta la DPT y haz clic
          en “Enviar”.
        </p>
      }
    }
  } @else {
    <p>
      Si deseas contactarnos, completa los campos, adjunta tu CV actualizado y
      haz clic en “Enviar”.
    </p>
  } -->
  <r-tabs [(selectedValue)]="selectedRequestType">
    <r-tab [value]="RequestType.Business"> Empresa </r-tab>
    <r-tab [value]="RequestType.Candidate"> Candidato/a </r-tab>
  </r-tabs>
  <r-text
    label="Nombre*"
    [error]="isInvalidAndNotTouched('firstName')"
    [value]="requestForm().get('firstName')!.value"
    (changeEmitter)="setValue('firstName', $event)" />
  <r-text
    label="Apellidos*"
    [error]="isInvalidAndNotTouched('lastName')"
    [value]="requestForm().get('lastName')!.value"
    (changeEmitter)="setValue('lastName', $event)" />
  @if (selectedRequestType() === RequestType.Business) {
    <r-text
      label="Empresa*"
      [error]="isInvalidAndNotTouched('companyName')"
      [value]="requestForm().get('companyName')!.value"
      (changeEmitter)="setValue('companyName', $event)" />
    <r-text
      label="Cargo*"
      [error]="isInvalidAndNotTouched('position')"
      [value]="requestForm().get('position')!.value"
      (changeEmitter)="setValue('position', $event)" />
  }
  <r-text
    label="Correo electrónico*"
    [error]="isInvalidAndNotTouched('email')"
    [value]="requestForm().get('email')!.value"
    (changeEmitter)="setValue('email', $event)" />
  <r-number
    label="Teléfono*"
    [error]="isInvalidAndNotTouched('phone')"
    [value]="requestForm().get('phone')!.value"
    (changeEmitter)="setValue('phone', $event)" />
  @if (selectedRequestType() === RequestType.Business) {
    <r-select
      label="Solicitar*"
      (changesEmitter)="setValue('reason', $event, true)"
      [selectedValue]="requestForm().get('reason')!.value">
      <r-option [value]="BusinessRequestReason.Information">
        Información
      </r-option>
      <r-option [value]="BusinessRequestReason.Selection"> Selección </r-option>
    </r-select>
  }
  <!--   <r-textarea
    label="Añadir información adicional"
    [value]="requestForm().get('extraInfo')!.value"
    (changeEmitter)="setValue('extraInfo', $event)" /> -->

  @if (
    selectedRequestType() === RequestType.Candidate ||
    (selectedRequestType() === RequestType.Business &&
      requestForm().get('reason')?.value === BusinessRequestReason.Selection)
  ) {
    <input
      type="file"
      id="cvUpload"
      accept=".pdf"
      (change)="onFileSelected($event)"
      style="display: none" />
    <r-button type="secondary" (click)="triggerFileUpload()">
      <i class="icon-file-text"></i>
      @if (selectedRequestType() === RequestType.Candidate) {
        {{ truncatedFileName() || 'Adjuntar CV actualizado*' }}
      } @else {
        {{ truncatedFileName() || 'Adjuntar Descripción del Puesto*' }}
      }
    </r-button>
    @if (isInvalidAndNotTouched('file')) {
      @if (requestForm().get('file')?.hasError('fileType')) {
        <p class="error-message">El archivo debe ser un PDF</p>
      }
      @if (requestForm().get('file')?.hasError('required')) {
        <p class="error-message">
          Debes adjuntar
          @if (selectedRequestType() === RequestType.Candidate) {
            tu CV actualizado
          } @else {
            la Descripción del Puesto
          }
        </p>
      }
    }
  }
  <r-button type="primary" (click)="sendRequest()" [loading]="loading()">
    @if (!loading()) {
      <i class="icon-send"></i>
    }
    Enviar solicitud
  </r-button>
  <p>
    Al enviar, aceptas la
    <a [routerLink]="'/privacy-policy'" target="_blank"
      >política de privacidad</a
    >
    de Ahead Careers
  </p>
} @else {
  <h3 @fadeInOut>
    @if (selectedRequestType() === RequestType.Business) {
      @if (
        requestForm().get('reason')?.value === BusinessRequestReason.Information
      ) {
        ¡Tu solicitud de información ha sido enviada con éxito!
      } @else {
        ¡Tu solicitud de selección ha sido enviada con éxito!
      }
    } @else {
      ¡Tu CV actualizado ha sido enviado con éxito!
    }
  </h3>
  <p @fadeInOut>
    El equipo de Ahead Careers lo revisará con la mayor brevedad posible.
  </p>
  <p @fadeInOut>¡Gracias por contactarnos!</p>
}
