:host {
  width: 100%;

  .ceo-message {
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    position: relative;

    .message {
      color: #798194;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: 768px) {
        margin-right: 290px;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ceo-signature {
          .ceo-name {
            color: var(--blue);
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
          }

          .ceo-title {
            color: #798194;
            font-size: 0.9rem;
          }
        }

        a {
          img {
            width: 30px;
          }
        }
      }
    }

    .ceo-image {
      @media (min-width: 768px) {
        height: 120%;
        position: absolute;
        bottom: 0;
        left: calc(50% + 90px);
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding-bottom: 0;

      .ceo-image {
        width: 300px;
      }
    }
  }
}
