@defer (when offer()) {
  <div @fadeInOut>
    <div class="offer-header">
      <div class="top">
        <h1 class="start">{{ offer().jobTitle }}</h1>
        @if (!isMobile()) {
          <ac-social-buttons [offer]="offer()" />
        }
      </div>
      <p>Oferta publicada: {{ offer().editionDate | date: 'dd/MM/yyyy' }}</p>
      <div class="offer-details">
        <div class="detail">
          <h3 class="start">Oferta</h3>
          <p>{{ offer().offerId }}</p>
        </div>
        <div class="detail">
          <h3 class="start">Sector</h3>
          <p>{{ offer().industry }}</p>
        </div>
        <div class="detail">
          <h3 class="start">Ubicación</h3>
          <p>{{ offer().location }}</p>
        </div>
        <div class="detail">
          <h3 class="start">Contrato</h3>
          @if (offer().contractType === 'permanent') {
            <p>Indefinido</p>
          } @else {
            <p>Temporal</p>
          }
        </div>
        <div class="detail">
          <h3 class="start">Salario</h3>
          <p>{{ offer().salary }}</p>
        </div>
      </div>
    </div>
    <div
      class="offer-content"
      [innerHTML]="getHtmlFromBlock(offer().offerContent)"></div>
    <div class="disclaimer">
      <p>
        Si estás interesado/a en esta oferta, haz clic en "Aplicar ahora" y
        adjunta tu CV actualizado.
      </p>
      <p>
        Si esta oferta no se adapta a tu perfil pero estás buscando un nuevo
        reto profesional,
        <a tabindex="0" (click)="contactUsModalService.isOpen.set(true)"
          >contáctanos</a
        >
        y valoraremos tu candidatura. Te garantizamos la confidencialidad.
      </p>
    </div>
    <div class="bottom-controls">
      @if (isMobile()) {
        <ac-social-buttons [offer]="offer()" />
      }
      <r-button type="primary" (click)="isApplyModalOpen.set(true)">
        <i class="icon-send"></i>
        Aplicar ahora
      </r-button>
    </div>
  </div>
}
<r-dialog [(show)]="isApplyModalOpen" [clickOutside]="true">
  <ac-apply-modal [(show)]="isApplyModalOpen" [offer]="offer()" *r-lazy />
</r-dialog>
