<div class="slogan-wrapper">
  <div class="slogan">‘Shaping your future’</div>
  <r-button
    [routerLink]="'/offers'"
    type="secondary"
    ac-track-visibility
    trackId="cta-offers"
    >Consulta nuestras ofertas</r-button
  >
</div>
<div class="rounded-section"></div>
<div class="home-wrapper">
  <ac-sectors />
  @if (description()) {
    <div
      class="description"
      [@fadeInOut]="{ value: '', params: { delay: '0.5s' } }"
      [innerHTML]="description()"></div>
  }
  <ac-values />
  <ac-methodology />
  <ac-ceo-message />
  <ac-experiences />
</div>
