<div class="slogan-wrapper" @fadeInOut>
  @if (businessDescription().slogan) {
    <div class="slogan" [innerHTML]="businessDescription().slogan"></div>
  }
  <r-button
    [routerLink]="'/offers'"
    type="secondary"
    r-in-viewport
    inViewportId="offers-cta"
    [inViewportInitialVisibility]="true"
    >Consulta nuestras ofertas</r-button
  >
</div>
<div class="rounded-section" @fadeInOut></div>
<div class="home-wrapper">
  <ac-sectors [sectors]="businessDescription().sectors" />
  @if (businessDescription().description) {
    <div
      class="description"
      @fadeInOut
      [innerHTML]="businessDescription().description"></div>
  }
  <ac-values />
  <ac-methodology />
  <ac-ceo-message [ceoMessage]="businessDescription().ceoMessage" />
  <ac-experiences />
</div>
