<div class="slogan-wrapper">
  @if (businessDescription()?.slogan) {
    <div
      class="slogan fade-in"
      [innerHTML]="businessDescription()!.slogan"></div>
    <r-button
      class="fade-in"
      [routerLink]="'/offers'"
      type="secondary"
      r-in-viewport
      inViewportId="offers-cta"
      [inViewportInitialVisibility]="true"
      >Consulta nuestras ofertas</r-button
    >
  }
</div>
<div class="rounded-section"></div>
<div class="home-wrapper">
  @if (businessDescription()?.sectors) {
    <ac-sectors class="fade-in" [sectors]="businessDescription()!.sectors" />
  }
  @if (businessDescription()?.description) {
    <div
      class="description fade-in"
      [innerHTML]="businessDescription()!.description"></div>
  }
  <ac-values class="fade-in" />
  <ac-methodology class="fade-in" />
  @if (businessDescription()?.ceoMessage) {
    <ac-ceo-message [ceoMessage]="businessDescription()!.ceoMessage" />
  }
  <ac-experiences />
</div>
