:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  r-button {
    &.share-button {
      --button-padding-inline: 0;
      width: 2.85rem;

      i {
        margin-left: -3px;
      }
    }

    img {
      width: 23px;
    }

    .whatsapp-icon {
      position: relative;
      img:nth-child(2) {
        scale: 0.4;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    i {
      font-size: 1.5rem !important;
    }
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    width: 80vw;
    max-width: 400px;
    flex-wrap: wrap;

    r-button {
      flex: 1;
    }
  }
}
