<footer>
  <div class="footer-content">
    <div class="contact">
      <a class="negative" href="mailto:eolmos&#64;aheadcareers.com">
        <img [attr.loading]="'lazy'" class="logo" src="/svg/mail.svg" alt="" />
      </a>
      <a class="negative" href="tel:+34611898639">
        <img [attr.loading]="'lazy'" class="logo" src="/svg/phone.svg" alt="" />
      </a>
      <a
        class="negative"
        href="https://www.linkedin.com/company/ahead-careers"
        target="_blank"
        rel="noopener noreferrer">
        <img [attr.loading]="'lazy'" class="logo" src="/svg/in.svg" alt="" />
      </a>
    </div>
    <img [attr.loading]="'lazy'" class="logo" src="/svg/logo-negative.svg" alt="" />
  </div>
</footer>
