:host {
  padding-top: 25px;
  width: 100%;
  overflow: hidden;

  footer {
    background-color: var(--blue);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;

    &::after {
      content: '';
      position: absolute;
      top: -24px;
      left: -5vw;
      right: -5vw;
      height: 25px;
      border-top-left-radius: 200%;
      border-top-right-radius: 200%;
      background-color: var(--blue);
    }

    .footer-content {
      width: 100%;
      max-width: 1400px;
      padding: 40px;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 23px;

            &:nth-child(2) {
              scale: 0.4;
              position: absolute;
            }
          }
        }
      }

      img {
        width: 100px;
      }
    }
  }

  @media (max-width: 768px) {
    footer {
      .footer-content {
        padding-top: 25px;
        flex-direction: column;
        gap: 25px;

        .contact {
          align-items: center;
        }
      }
    }
  }
}
