<footer>
  <div class="footer-content">
    <div class="contact">
      <a class="negative" href="mailto:eolmos&#64;aheadcareers.com">eolmos&#64;aheadcareers.com</a>
      <a class="negative" href="tel:+34611898639">611898639</a>
      <a
        class="negative"
        href="https://www.linkedin.com/company/ahead-careers"
        target="_blank"
        rel="noopener noreferrer"
        >linkedin/aheadcareers</a
      >
    </div>
    <img [attr.loading]="'lazy'" class="logo" src="/svg/logo-negative.svg" alt="" />
  </div>
</footer>
