@if (!applied() && applyForm()) {
  <div class="icon-x" (click)="show.set(false)" tabindex="0"></div>
  <h3 class="center">{{ offer().jobTitle }} ({{ offer().offerId }})</h3>
  <r-text
    label="Nombre*"
    [error]="isInvalidAndNotTouched('firstName')"
    [value]="applyForm().get('firstName')!.value"
    (changeEmitter)="setValue('firstName', $event)" />
  <r-text
    label="Apellidos*"
    [error]="isInvalidAndNotTouched('lastName')"
    [value]="applyForm().get('lastName')!.value"
    (changeEmitter)="setValue('lastName', $event)" />
  <r-text
    label="Correo electrónico*"
    [error]="isInvalidAndNotTouched('email')"
    [value]="applyForm().get('email')!.value"
    (changeEmitter)="setValue('email', $event)" />
  <r-number
    label="Teléfono*"
    [error]="isInvalidAndNotTouched('phone')"
    [value]="applyForm().get('phone')!.value"
    (changeEmitter)="setValue('phone', $event)" />
  <r-text
    label="Disp. horaria para entrevista telefónica*"
    [error]="isInvalidAndNotTouched('availability')"
    [value]="applyForm().get('availability')!.value"
    (changeEmitter)="setValue('availability', $event)" />
  <input
    type="file"
    id="cvUpload"
    accept=".pdf"
    (change)="onFileSelected($event)"
    style="display: none" />
  <r-button type="secondary" (click)="triggerFileUpload()">
    <i class="icon-file-text"></i>
    {{ truncatedFileName() || 'Adjuntar CV actualizado*' }}
  </r-button>
  @if (isInvalidAndNotTouched('cv')) {
    @if (applyForm().get('cv')?.hasError('fileType')) {
      <p class="error-message">El archivo debe ser un PDF</p>
    }
    @if (applyForm().get('cv')?.hasError('required')) {
      <p class="error-message">Debes adjuntar tu CV actualizado</p>
    }
  }

  <r-button type="primary" (click)="applyOffer()" [loading]="loading()">
    @if (!loading()) {
      <i class="icon-send"></i>
    }
    Enviar candidatura
  </r-button>
  <p>
    Al enviar, aceptas la
    <a [routerLink]="'/privacy-policy'" target="_blank"
      >política de privacidad</a
    >
    de Ahead Careers
  </p>
} @else {
  <h3 class="center" @fadeInOut>
    ¡Has aplicado a la oferta {{ offer().jobTitle }} ({{ offer().offerId }})!
  </h3>
  <p @fadeInOut>
    Tu candidatura ha sido enviada con éxito y el equipo de Ahead Careers la
    revisará con la mayor brevedad posible.
  </p>
  <p @fadeInOut>¡Gracias por confiar en nosotros!</p>
}
