:host {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 4rem);
  max-width: 350px;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  p {
    margin: 0;
  }
}

r-button {
  position: relative;
}
