@if (data()) {
  <h1 [@fadeInOut]="{ value: '', params: { delay: '0.5s' } }">
    {{ data()?.title }}
  </h1>
  @if (data()?.methodologySteps && (data()?.methodologySteps)!.length > 0) {
    <div
      class="image-and-steps-wrapper"
      [@fadeInOut]="{ value: '', params: { delay: '0.7s' } }">
      <img
        class="methodology-image"
        [height]="690"
        [width]="460"
        src="/webp/methodology.webp"
        alt="Methodology" />
      <div class="steps-wrapper">
        @for (step of data()?.methodologySteps; track step) {
          <div
            @fadeInOut
            class="step"
            (keypress)="selectedStep.set($index)"
            tabindex="0">
            <div class="number">0{{ $index + 1 }}</div>
            <h3 class="start">
              {{ step.title }}
            </h3>
            <div
              class="description"
              [innerHTML]="getHtmlFromBlock(step.description)"></div>
          </div>
        }
      </div>
    </div>
  }
}
