/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/@realm-ui/styles/src/index.css');
@import url(./app/styles/colors.css);
@import url('../node_modules/lucide-static/font/lucide.css');

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  overscroll-behavior-block: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: var(--blue);
  user-select: none;

  &.negative {
    color: var(--white);
  }

  &:not(.negative) {
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--blue);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  text-align: center;
}

r-button button {
  font-family: 'Poppins', sans-serif;

  &.secondary {
    font-weight: 600;
  }
}

.rounded-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25px;
  margin-top: -1px;

  &::after {
    content: '';
    position: absolute;
    left: -5vw;
    right: -5vw;
    height: 25px;
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    background-color: var(--blue);
  }

  &.up::after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    margin-bottom: -1px;
  }

  &.up {
    margin-bottom: -1px;
  }
}
