@if (data()) {
  <h1 [@fadeInOut]="{ value: '', params: { delay: '0.5s' } }">
    {{ data()?.title }}
  </h1>
  @if (data()?.values && (data()?.values)!.length > 0) {
    <div
      class="value-boxes-wrapper"
      [@fadeInOut]="{ value: '', params: { delay: '0.7s' } }">
      @for (value of data()?.values; track value) {
        <div class="value-box" @fadeInOut>
          <h2>{{ value.title }}</h2>
          <div
            class="description"
            [innerHTML]="getHtmlFromBlock(value.description)"></div>
        </div>
      }
    </div>
  }
}
