:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 40px;
  user-select: none;
  gap: 1rem;

  .value-boxes-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
    max-width: 904px;

    .value-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 1.5rem;
      background-color: var(--light-grey);
      border-radius: 15px;
      max-width: 400px;
      transition: 0.2s;

      @media (min-width: 768px) {
        &:hover {
          transition: 0.2s;
          scale: 1.02;
        }
      }

      .title {
        color: var(--blue);
        font-size: 1.5rem;
      }

      .description {
        color: #798194;
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    padding-inline: 20px;

    .value-boxes-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}
