:host {
  display: flex;
  box-sizing: border-box;
  padding: 4rem 3rem 2rem 3rem;
  gap: 3rem;
  min-height: calc(100dvh - 77.44px);
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;

  .offers {
    display: flex;
    flex-direction: column;

    .offers-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .offer {
        padding: 1.5rem 1.7rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        background-color: var(--light-grey);
        border-radius: 0.8rem;

        .details {
          display: flex;
          gap: 1rem;

          p {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            margin: 0;
          }
        }
      }
    }
  }

  @media (width > 768px) {
    .offers {
      position: relative;
      height: calc(100dvh - 15rem);

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: flex;
        width: calc(100% - 20px);
        height: 2rem;
        z-index: 1;
      }

      &::before {
        top: 4.4rem;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0) 0%,
          var(--white) 100%
        );
      }

      &::after {
        bottom: 0;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          var(--white) 100%
        );
      }

      .offers-list {
        max-width: 350px;
        overflow-y: auto;
        padding-right: 20px;
        height: 100%;
        scrollbar-width: thin;
        margin-top: -1.3rem;
        padding: 1.3rem 20px 2rem 0;
        position: relative;

        .offer {
          transition: 0.2s;
          width: 280px;

          &:hover {
            cursor: pointer;
            transform: translateX(10px);
            transition: 0.2s;
            background-color: color-mix(
              in srgb,
              var(--blue) 6%,
              var(--light-grey)
            );
          }

          &.selected {
            transition: 0.2s;
            background-color: color-mix(
              in srgb,
              var(--blue) 8%,
              var(--light-grey)
            );
          }
        }
      }
    }
  }

  @media (width < 768px) {
    padding: 1.5rem 2rem 4.5rem 2rem;

    .offers {
      width: 100%;
      position: relative;

      h1 {
        position: sticky;
        top: 114px;
        background-color: var(--white);

        &::before {
          content: '';
          position: absolute;
          display: flex;
          width: 100%;
          height: 3.5rem;
          background: var(--white);
          top: -3rem;
        }

        &::after {
          content: '';
          position: absolute;
          display: flex;
          width: 100%;
          height: 2rem;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            var(--white) 100%
          );
          top: 100%;
        }
      }

      .offers-list {
        width: 100%;
      }
    }
  }
}
