@defer (when activeOffers() && activeOffers().length > 0) {
  <div class="offers fade-in">
    <h1 [ngClass]="{ center: isMobile() }">Nuestras ofertas</h1>
    <div class="offers-list">
      @for (offer of activeOffers(); track offer.offerId) {
        <div
          class="offer"
          tabindex="0"
          [ngClass]="{
            selected:
              selectedOffer() && selectedOffer().offerId === offer.offerId,
          }"
          (click)="selectOffer(offer)">
          <h3>{{ offer.jobTitle }}</h3>
          <div class="details">
            <p>
              <i class="icon-hash"></i>
              {{ offer.offerId }}
            </p>
            <p>
              <i class="icon-bolt"></i>
              {{ offer.industry }}
            </p>
            <p>
              <i class="icon-map-pin"></i>
              {{ offer.location }}
            </p>
          </div>
        </div>
      }
    </div>
  </div>
  @if (!isMobile()) {
    <ac-offer-details [offer]="selectedOffer()" />
  }
}
