@defer (when offers() && offers().length > 0) {
  <div class="offers">
    <h1 [ngClass]="{ start: !isMobile() }">Nuestras ofertas</h1>
    <div class="offers-list">
      @for (offer of offers(); track offer.offerId) {
        <div
          class="offer"
          tabindex="0"
          [ngClass]="{
            selected:
              selectedOffer() && selectedOffer().offerId === offer.offerId,
          }"
          @fadeInOut
          [routerLink]="isMobile() ? '/offer/' + offer.offerId : null"
          (click)="!isMobile() && selectOffer(offer)">
          <h3 class="start">{{ offer.jobTitle }} ({{ offer.offerId }})</h3>
          <div class="details">
            <p>
              <i class="icon-hash"></i>
              {{ offer.offerId }}
            </p>
            <p>
              <i class="icon-bolt"></i>
              {{ offer.industry }}
            </p>
            <p>
              <i class="icon-map-pin"></i>
              {{ offer.location }}
            </p>
          </div>
        </div>
      }
    </div>
  </div>
  @if (!isMobile()) {
    <ac-offer-details [offer]="selectedOffer()" />
  }
}
