:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 2rem;
  padding: 4rem 2rem;

  .offer {
    padding: 25px;
    gap: 10px;
    border: 1px solid #f0f0f0;
    background-color: #fcfcfc;
    border-radius: 15px;
  }
}
